<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header col-md-4 col-sm-6"> 
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>


       <a class="navbar-brand" routerLink="">WebSiteName</a>
    </div>

    <div id="myNavbar" class="navbar-collapse collapse">
    
       








    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="profile"> My Profile</a></li>
      <li><a routerLink="health"> Health Plans</a></li>
    </ul>
  </div>
  </div>
</nav>
  
